body{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.boxes {
    display: inline-block;
}

.box {
    padding: 64px;
    margin: 15px;
    background-color: #333;
    float: left;
}

.light {
    background-color: grey;
}
